/* Styles for new AM header/banner */

#headBanner	{
	width:1076px;
	height:100px;
	background-color:#000000;
	background-image: url("../images/headerBanner_bckrnd.jpg");
	background-repeat:no-repeat;
	font-size:14px;
	font-weight: bold;
	position:relative;
}
#headBanner>* 	{
	position:absolute;
	color:#FFFFFF;
}
#headBanner	#OM_Logo	{
	top: 18px;
	left: 55px;
}
.arrow	{
	background-image: url("../images/blue_triangle_trans.png");
	background-repeat:no-repeat;	
	background-position: 2px 1px;
	padding: 0 0 0 16px;
}
#headBanner	#callUs	{
	top: 40px;
	left: 440px;
	text-decoration:none;
	cursor: pointer;
}
#headBanner	#callUs span:hover	{
	color:#376C98;
}
#headBanner	#emailUs	{
	top: 40px;
	left: 705px;
	text-decoration:none;
}
#headBanner	#emailUs:hover	{
	color:#376C98;
}
#headBanner	#loginToTrade	{
	top: 28px;
	left: 818px;
}
/*
#headBanner	#loginToTrade img:hover	{
	box-shadow: 0 0 20px #999;
	-webkit-box-shadow: 0 0 20px #999;
	-moz-box-shadow: 0 0 20px #999;
	border-radius: 20px;
}
*/


/* styles for logged in header */

#headBanner	#liveChatLink	{
	top: 40px;
	left: 475px;
	text-decoration:none;
}
#headBanner	#liveChatLink span	{
	color:#376C98;
	text-decoration:underline;
}
#headBanner	#liveChatLink span:hover	{
	color:#FFFFFF;
}
#headBanner	#logoutBtn	{
	top: 40px;
	left: 700px;
	text-decoration:underline;
}
#headBanner	#logoutBtn:hover	{
	color:#376C98;
}
#headBanner	#launchAppBtn	{
	top: 30px;
	left: 818px;
}
#headBanner	#launchAppBtn img:hover	{
	box-shadow: 0 0 20px #999;
	-webkit-box-shadow: 0 0 20px #999;
	-moz-box-shadow: 0 0 20px #999;
	border-radius: 20px;
}