@charset "UTF-8";


/* Browser reset */
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	margin: 0;
}

body {
	background-color: #C2C3C5;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

select, input, textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}


#container {
	margin: auto;
	position: relative;
	width: 970px;
	background-color:#FFFFFF;
}

a {
	color: #386C98;
	text-decoration: underline;
}

a:hover {
	color: #666666;
	text-decoration: underline;
}

#logo {
	float:left;
	height:108px; 
	width:371px; 
}

#header {
	width:970px;
	height: 108px;
	margin-top:0px;
	background-image:url(/common/images/header_bg.jpg);
}

#header .mainheader_txt {	
	color:#FFFFFF;
	font-size: 12px;
	padding-bottom: 5px;
	font-weight:bold;
	background-image:url(/common/images/header.jpg);
	height:108px; 
	width:570px; 
	background-repeat:no-repeat; 
	float:right; 
}

#header .mainheader_txt a {
	color:#FFFFFF;
	font-size: 12px;
	padding-bottom: 5px;
}

#header .mainheader_txt a:visited {
	color:#FFFFFF;
	font-size: 12px;
	padding-bottom: 5px;
}

#header .mainheader_txt a:hover {
	color: #666666;
	text-decoration: underline;
	font-size: 12px;
	padding-bottom: 5px;
}

.logout {
	padding: 15px 0px 0px 520px;
}

.header_icons {
	padding:35px 0px 0px 235px;
}
*/

/*END of header section */
/*
#content {
	background-color: #FFFFFF;
	margin:16px 16px 0px 16px;
	width:940px;
}
*/
.user_info {
	font-size:14px; 
	color:#396a95; 
	font-weight:bold; 
	padding: 0px 0px 0px 16px;
}

/*Main Navigation Starts*/


#nav {
	width: 948px;
	height:51px;
	margin-left: 10px;
}

*html #nav {
	width:950px;
	margin-bottom:0px;
}

#nav li {
    float:left;
	display:inline;
    margin:0;
    padding:0;
}

#overview a,
#overview_on a {
	display:block;
	float:left;
	height:48px;
	width:95px;
}

#overview a {
	background:url(/common/images/overview_norm.jpg) no-repeat;
}

#overview a:hover {
	background:url(/common/images/overview_over.jpg) no-repeat;
}

#overview_on {
	background:url(/common/images/overview_selected.jpg) no-repeat;
}

#funding a,
#funding_on a {
	display:block;
	float:left;
	height:48px;
	width:90px;
}

#funding a {
	background:url(/common/images/funding_norm.jpg) no-repeat;
}

#funding a:hover {
	background:url(/common/images/funding_over.jpg) no-repeat;
}

#funding_on {
	background:url(/common/images/funding_selected.jpg) no-repeat;
}

#documents a,
#documents_on a {
	display:block;
	float:left;
	height:48px;
	width:112px;
}

#documents a {
	background:url(/common/images/documents_norm.jpg) no-repeat;
}

#documents a:hover {
	background:url(/common/images/documents_over.jpg) no-repeat;
}

#documents_on {
	background:url(/common/images/documents_selected.jpg) no-repeat;
}

#profile a,
#profile_on a {
	display:block;
	float:left;
	height:48px;
	width:89px;
}

#profile a {
	background:url(/common/images/profile_norm.jpg) no-repeat;
}

#profile a:hover {
	background:url(/common/images/profile_over.jpg) no-repeat;
}

#profile_on {
	background:url(/common/images/profile_selected.jpg) no-repeat;
}

#education a,
#education_on a {
	display:block;
	float:left;
	height:48px;
	width:116px;
}

#education a {
	background:url(/common/images/education_norm.jpg) no-repeat;
}

#education a:hover {
	background:url(/common/images/education_over.jpg) no-repeat;
}

#education_on {
	background:url(/common/images/education_selected.jpg) no-repeat;
}

#faq a,
#faq_on a {
	display:block;
	float:left;
	height:48px;
	width:86px;
}

#faq a {
	background:url(/common/images/faq_norm.jpg) no-repeat;
}

#faq a:hover {
	background:url(/common/images/faq_over.jpg) no-repeat;
}

#faq_on {
	background:url(/common/images/faq_selected.jpg) no-repeat;
} 

#feedback a,
#feedback_on a {
	display:block;
	float:left;
	height:48px;
	width:116px;
}

#feedback a {
	background:url(/common/images/feedback_norm.jpg) no-repeat;
}

#feedback a:hover {
	background:url(/common/images/feedback_over.jpg) no-repeat;
}

#feedback_on {
	background:url(/common/images/feedback_selected.jpg) no-repeat;
} 

#open_account a, #open_account_on  {
	display:block;
	float:left;
	height:51px;
	width:201px;
	font-size:35px;
	text-decoration:none;
/*	margin-left:33px;*/
}

#open_account_on a:visited {
 	margin-left:74px;
	text-decoration:none;
 }

#open_account a {
	background:url(/common/images/open_account_norm.jpg) no-repeat;
}
#open_account a:hover {
	background:url(/common/images/open_account_over.jpg) no-repeat;
}
#open_account_on {
	background:url(/common/images/open_account_down.jpg) no-repeat;
	text-decoration:none;
}


/*Main Navigation Ends */



/*Styles for the Left column*/
/*
#left_column {
	width:608px; 
	margin-left:16px;
	float:left;
	display:inline;
}
*/
#full_column {
	margin:0px 16px 0px 16px; 
	width:800px; 
}

.left_main_head {
	font-size: 28px;
	margin-top:10px;
}

.left_subhead{	
	font-size: 16px;
	padding: 8px 0px 13px 0px;
	font-weight: 100;
}

.subheadBlue14 {
	font-size: 14px;
	font-weight: bold;
	color: #386C98;
	padding: 13px 0px 0px 0px;
}

.boldBlue14 {
	font-size: 14px;
	font-weight: bold;
	color:#356d9e;
}

.boldBlue {
	font-weight: bold;
	color: #386C98;
}

.grey {
	color:#666666;
	padding-top:5px;
}

.greyText {
	color:#666666;
}
	
.intro_txt {
	padding: 10px 0px 0px 0px;
	line-height: 18px;
	font-weight:normal;
}

.listImage {
	list-style-image:url(/common/images/list_bullet.jpg);
	padding:5px;
	line-height:18px;
}

/* Sub Navigation */
#progress_bar {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	width:940px;
	height: 32px;
	margin: 0 auto;
	/* padding-top: 3px; */
}

#progress_bar .no_progress {
	background-image:url(/common/images/account/progressBg1.jpg);
	background-repeat:no-repeat;
	float:left;  
	color:#000000;
	width:188px;
	font-weight:bold;
	text-align:center;
	padding: 7px 0px 7px 0px;
	height: 30px;
}

#progress_bar .current_progress { 
	background-image:url(/common/images/account/progressBg2.jpg);
	background-repeat:no-repeat;
	float:left;  
	color:#000000;
	width:188px;
	font-weight:bold;
	text-align:center;
	height: 30px;
	padding: 7px 0px 7px 0px;
}

#progress_bar .completed_progress {
	color:#000000;
	background-image:url(/common/images/account/progressBg3.jpg);
	background-repeat:no-repeat;
	float:left;  
	width:188px;
	font-weight:bold;
	text-align:center;
	height: 30px;
	padding: 7px 0px 7px 0px;
}



/* End of Sub Navigation */


/*Styles for the main navigation*/
#navigation {
	background-image: url(/common/images/navigation.jpg);
	background-repeat: no-repeat;
	width: 655px;
	padding: 11px 0px 5px 0px;
	height: 39px;
}


/*End of styles for the main navigation*/

/*Body Styles Starts */

#left-column {
	float:left;
}

#one-column-table {
	padding:0px 7px 0px 7px;
	width:100%;
	line-height:16px;
}

#one-column-table select {
	width:185px;
	}
	
#one-column-table input  {
	width:180px;
}

#two-column-table {
	padding:0px 0px 0px 0px;
	width:680px;
	line-height:16px;
}

#two-column-table select {
	width:185px;
	}
	
#two-column-table input  {
	width:180px;
}

#three-column-table {
	padding:0px 0px 0px 0px;
	line-height:16px;
}

#three-column-table select {
	width:160px;
	}

#three-column-table input  {
	width:156px;
}

#three-column-table .lastColumn {
	margin-top:5px;
}

.agreeCheckbox {
	float:right;
	padding-right:20px;
}

.agreeLabel {
	clear:both;
	float:left;
	font-weight:bold; 
	color:#356d9e;
	}

.agreeDownload {
	text-align: right;
	padding-bottom:5px;
}

.esignStyle {
	height:54;
	background-color:#edeeef; 
	font-style:italic; 
	padding:10px; 
	font-size:14px; 
	text-align:justify; 
	line-height:16px;
}

.tableHeader {
	font-weight:bold; 
	text-align:center;
}

.full-table {
	padding:0px 10px 0px 10px;
	width:100%;
}

.section-heading {
	text-align:left; 
	border-bottom:1px solid #e2e2e2; 
	height:25px; 
	font-weight:bold; 
	vertical-align:bottom; 
	padding-bottom:5px; 
	color:#356d9e;
}
.heading {
	text-align:left; 
	height:25px; 
	font-weight:bold; 
	vertical-align:bottom; 
	padding-bottom:5px; 
	color:#356d9e;
}
.success {
	display:none;float:left; 
	padding-left:5px;
}

.success-text {
	font-size:10px; 
	color:#568827; 
	vertical-align:text-top;
}

.failure {
	display:none;
	float:left; 
	padding-left:5px;
}

.failure-text {
	font-size:10px; 
	color:#dc0505; 
	vertical-align:text-top;
}

.helpIcon {
	float:left; 
	padding-left: 5px; 
	vertical-align:text-top;
}

.3ColUsername {
	float:left; 
	padding-bottom:3px;
}

.highlight-row {
	text-align:left;
	background-color:#e2e2e2; 
	/*height:35px; */
	padding:10px;
}

*html .hide {
	visibility:hidden; 
	display:none;
}

.hide {
	visibility:hidden; 
	display:none;
}

.show {
	display:table-row; 
	visibility: visible;
}

.midColumn {
	padding-left:7px; 
	padding-right:7px;
	vertical-align:top;
}

.midColumnTable {
	background-color:#edeeef;
	margin-top:5px; 
	padding-left:5px;
	padding-right:5px;
}

.previewInfoTable td {
vertical-align:bottom;
}

.paddingLeft15 {
	padding-left:15px;
}

.usaPatriot {
	margin-left:15px;
	}

.checkbox-style {
	width:6%; 
	float:left;
}

.checkbox-text-style {
	float:right; 
	width:94%;
}
.radio-style {
	float:left;
	width:100%;
	line-height:22px;
}

.button-style {
	text-align:right;
}


.bullet-style {
	float:left; 
	width:20px;
}

.bullet-text {
	float:left; 
	width:610px;
}

.nickNameAccNoHeader {
	float:left; 
	height:20px; 
	width:130px; 
	margin-right:5px; 
	background-color:#e2e2e2; 
	color:#356d9e; 
	font-weight:bold;
}

.nickNameFullNameHeader {
	float:left; 
	height:20px; 
	width:250px; 
	margin-right:5px; 
	background-color:#e2e2e2; 
	color:#356d9e; font-weight:bold;
}

.nickNameAddHeader {
	float:left; 
	height:20px; 
	width:210px; 
	margin-right:5px; 
	background-color:#e2e2e2; 
	color:#356d9e; 
	font-weight:bold;
}

.nickNameAccNo {
	float:left; 
	height:60px; 
	width:130px; 
	margin-right:5px;
}

.nickNameFullName {
	float:left; 
	height:60px; 
	width:250px; 
	margin-right:5px;
}

.nickNameAdd {
	float:left; 
	height:60px; 
	width:210px; 
	margin-right:5px; 
}


*html .mailingLableWidth {
	width:0px;
}

.mailingLableWidth {
	width: 220px;
}

#right-column {
	float:right; 
	margin-top:20px;
}

.marketing-box {
	width:250px; 
	margin-top:10px;
	padding-bottom:10px;
}

.marketing-header {
	color:#356d9e; 
	font-size:11pt; 
	font-weight:bold; 
	padding:5px 10px 0px 15px;
}

.marketing-img {
	float:right; 
	padding:0px 10px 0px 0px;
}

.right_disclaimer-img {
	float:left; 
	padding:5px 5px 5px 15px;
}

.marketing-text {
	font-size:8pt; 
	padding:2px 0px 0px 15px;
}

.disclaimer-box {
	width:250px; 
	padding-bottom:10px;
}

.disclaimer-text {
	font-size:7pt; 
	padding:5px 0px 0px 5px;
	margin:0px 15px 0px 30px;
	text-align:justify;
}

.backToAM-box {
	width:250px; 
	padding-bottom:10px;
	margin-top:-10px;
}



.instruction-box {
	width: 250px;
}

.instruction-header {
	width: 200px;
	float: left;
	margin-top:-10px;
}


/*Body Styles Ends*/

.firstText {
	padding-top: 10px;
}


.open_account {
	width: 620px;
	float: left;
	background-repeat: no-repeat;
	padding: 10px 0px 10px 0px;
	margin-top:10px;
}

div.cf_wrapper {
  position: relative;

}
	
.right_subhead {
	background-image: url(/common/images/account/instruction_header_bg.jpg);
	background-repeat:no-repeat;
	height: 36px;
	font-size: 14px;
	color: #376C98;
	font-weight:bold;
	padding-left:15px;
	padding-top:10px;
	width:250px;
}

#right_btm {
	background-image: url(/common/images/account/instruction_btm.jpg);
	background-repeat: no-repeat;
	height: 11px;
}

#right_top {
	background-image: url(/common/images/account/instruction_top.jpg);
	background-repeat: no-repeat;
	height: 11px;
	padding-bottom:4px;
}


#testimonials {
	padding-bottom: 10px;
}

#testimonials_txt {
	width: 200px;
	float: left;
}

.rt_body_txt{
	font-size: 11px;
	padding: 0px 15px 0px 15px;
	line-height: 14px;
	font-weight:normal;
}

#right_body {
	margin-top:-10px;
	padding-top:10px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #DADADA;
	border-left-color: #DADADA;
}

#fixedtipdiv{
position:absolute;
padding: 5px;
border:1px solid black;
font:normal 12px Verdana;
line-height:18px;
z-index:100;
}

#html .ieCorrection {
	width:350px;
}

.ieCorrection {
	width:210px;
}

ul.errorMessage li {
	margin:5px 0px 0px 20px;
	color:#d00404;
	font-weight:bold;
	list-style-image:url(/common/images/account/error.gif);
	list-style-position:outside;
	list-style-position:inherit;
	padding:2px;
}

.errorConfirmMessage {
	margin:5px 0px 0px 20px;
	color:#d00404;
	font-weight:bold;
	display:block;
}

#jointOwnerInfoExistingUserErrorId  {
	color:#d00404;
	font-weight:bold;
	background-image:url(/common/images/account/error.gif);
	background-repeat:no-repeat;
	padding-left:20px;
	padding-top:-15px;
}
#primaryExistingUserErrorId  {
	color:#d00404;
	font-weight:bold;
	background-image:url(/common/images/account/error.gif);
	background-repeat:no-repeat;
	padding-left:20px;
	padding-top:-15px;
}
/*End of styles for the left column*/


/*Start of styles for the right column*/
/*
#right_column {
	float:right; 
	width:300px; 
	display:inline; 
	margin-right:16px;
}

*html #right_column {
	clear:both;
	margin-left:-300px;
	
}
*/
/*End of styles for the right column*/

/*Footer styles*/
/*
#footer {
	border-top: 1px solid #C2C3C5;
	background-color:#FFFFFF;
	padding-top: 20px;	
}

.footerLinks {
	margin-left:100px;
	line-height:16px;
}

.footerLinks a {
	text-decoration:none;
}

.footerLinks a:hover {
	text-decoration:none;
}

.disclaimer_txt {
	font-size: 10px;
	margin: 10px;
	color: #666666;
}

#disclaimer {
	margin: 10px 30px 30px 30px;
	padding-bottom: 30px;
}
*/

*html .showRow{
visibility:visible;
display:block;
}

.showRow{
visibility:visible;
display:table-row;
}

.existingUserErrorMessage{
display:table-cell;	
visibility:visible;
}
*html .existingUserErrorMessage{
display:block;
visibility:visible;	
}
*html .showTable{
visibility:visible;
display:block;
}

.showTable{
visibility:visible;
display:table;
}

#taxTable{
border:1px solid #C2C3C5;
}

*html .showTableCell{
visibility:visible;
display:block;
}

.showTableCell{
visibility:visible;
display:table-cell;
}
.getDetailsLabel{
font-weight:bold;
color:#396a95; 
}

*html .showDiv{
visibility:visible;
display:block;
}

.showDiv{
visibility:visible;
display:table-row;
}