/* global horizontal menu */
/* use of important to ensure blog css does not override */ 
div#menu-bg {
	
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuCAYAAADp73NqAAAAR0lEQVR4Xn2LsQ2AQAwDT9mImpUYh46NfigbWU9B9IIUp3Mssx+nC5syMA0SY0zoHd1/jrFYi9LfQr34NrcWLwXPjeAKtqBuKXdjtH8wJvAAAAAASUVORK5CYII=);
	
	/* background-color: #62aaa2; */
	width: 1076px;
	max-width: 1076px;
	height: 46px !important;
}

div#menu-bg a {
	text-decoration: none !important;
}

span.green_triangle_right {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAJCAYAAAAPU20uAAAAS0lEQVQYlWPIXWm2HYhVGHABoOR/IP4JxL1AzI9LAQw/B+JkfApg+DwQm+FTALPWHpeCdXCHo0lcAuvC4oa3QJwJxMzYfIHde1AAALD/WsiFU1wSAAAAAElFTkSuQmCC);
	background-repeat: no-repeat;

	width: 8px;
	height: 9px;
	
	margin-right: 16px;
	margin-top: 5px;

	float: right;
}

li.activemenu a div.green_triangle_down, 
li.activemenu.hover a div.green_triangle_down, 
li.activemenu:hover a div.green_triangle_down,
li:hover a div.green_triangle_down, 
li:focus a div.green_triangle_down {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAVUlEQVQYlWPIXWnWC8T/8eDtDMQq4gfitzgU/ARiFQYQADIycSjqZYABIIcZiC+hKXgOsoUBGQAF7NEUJTNgA0CJdVAF57EqgCpSgTrWDKcimLXoYgAuL26xNwrHDQAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;

	width: 9px;
	height: 9px;
	
	position: absolute;
	/* bottom: 5px;
	right: 12px; */
}

li.activemenu a div.green_triangle_down {
	bottom: 2px;
	right: 12px;
}

li.activemenu.hover a div.green_triangle_down, li.activemenu:hover a div.green_triangle_down {
	bottom: 2px;
	right: 12px;
}

li:hover a div.green_triangle_down, li:focus a div.green_triangle_down {
	bottom: 5px;
	right: 12px;
}

/* styles for the current active menu - solely dependent on request url */
ul { padding: 0; } /* reset */
ul#dropdown > li.activemenu, ul#dropdown > li.activemenu.hover, ul#dropdown > li.activemenu:hover, ul#dropdown > li.activemenu:focus,
ul#dropdown > li.activemenu > a, ul#dropdown > li.activemenu > a.hover, ul#dropdown > li.activemenu > a:hover, ul#dropdown > li.activemenu > a:focus {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuAQAAAADBlE7HAAAADUlEQVQYlWNoYKAZBAAimBcBR8+9IgAAAABJRU5ErkJggg==");
	color: #000000 !important;
	outline: none;

	text-shadow:none;
	/* text-shadow:0px 0px 1px rgba(10, 10, 10, 0.3); */	
	/* text-shadow:0 0 10px rgba(10, 10, 10, 0.9); */  /* more noticeable */
	
	position: relative;
}



/* styles for special (green, etc) button */
ul#dropdown li.greenGradient:hover, ul#dropdown li.greenGradient.hover {
	/* greenGradient */
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuCAYAAADp73NqAAAAWElEQVR42m2IwQ2AQAgEyfX/tBCLsRmFXQRyEB/uYzKzcl6HL3fKoiDglmiDaJvrBsfAskeWsdL6mzTkBzQsYAkowzTz4Rdadvt8voFJ6HwWoJZJGFz+9gKYoXnolimxawAAAABJRU5ErkJggg==);
	/* color: #FFF24D; */
}

ul#dropdown li.greenGradient a:hover {
	background-image: none;
	visibility: visible;
	/* color: #FFF24D; */
}

ul#dropdown li.greenGradient {
	/* greenGradient */
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuCAYAAADp73NqAAAAWElEQVR42m2IwQ2AQAgEyfX/tBCLsRmFXQRyEB/uYzKzcl6HL3fKoiDglmiDaJvrBsfAskeWsdL6mzTkBzQsYAkowzTz4Rdadvt8voFJ6HwWoJZJGFz+9gKYoXnolimxawAAAABJRU5ErkJggg==);
	line-height: 34px !important;
	color: #FFFFFF !important; 
	/* font-weight: bold !important; */
}

ul#dropdown li.greenGradient:focus {
	/* color: #FFF24D; */
}
/* removed !important from font size */
ul#dropdown > li.greenGradient a {
	color: #FFFFFF !important;
	background-image: none;
	padding: 4px 15px;
	font-size: 16px;
}

ul#dropdown > li.greenGradient a:focus {
	background-image: none;
	outline:none;
	/* color: #FFF24D; */
}

ul#dropdown > li.greenGradient:hover a, ul#dropdown > li.greenGradient.hover a  { 
	color: #FFFFFF !important;
}


/* styles for the borders that appear between buttons - they have gradients so cant use 'border-left' */
ul#dropdown > li.rightBorderLi,
ul#dropdown > li.rightBorderLi.hover,
ul#dropdown > li.rightBorderLi:hover {
	/* blueBorder */
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuCAYAAADp73NqAAAASklEQVR42m2MwQ3AIAwDbYddOk03Yf9vsQQJAjWP09lRguftn0hClBZMQ+EY0xKxLRHTWl6IBo9XR7fMrLjtiixkBHktqoMNxN8MPAsC9XbBQuAAAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	height: 46px;
	width: 1px !important;
	max-width: 1px !important;
}

ul#dropdown > li.leftBorderLi, ul#dropdown > li.leftBorderLi-sp,
ul#dropdown > li.leftBorderLi.hover, ul#dropdown > li.leftBorderLi-sp.hover,
ul#dropdown > li.leftBorderLi:hover, ul#dropdown > li.leftBorderLi-sp:hover {
	/* blackBorder */
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuCAYAAADp73NqAAAAEklEQVQYlWMwNjL8zzCsCCwAAEJRQnPQWkJ8AAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
	height: 46px;
	width: 1px !important;
	max-width: 1px !important;
}

ul#dropdown > li.rightBorderLi-sp,
ul#dropdown > li.rightBorderLi-sp.hover,
ul#dropdown > li.rightBorderLi-sp:hover {
	/* greenBorder */
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuCAYAAADp73NqAAAAV0lEQVR42m3L0Q2AUAhD0VLgOYRLuIf7z6PQBE2MfNycfoDj3C/SDfQAyJQqsVr5aFGaaG6llD5J799WtBSfhEeJSk56hmSrp1ShSe+MEkY0H6FkRvzdDVJ1A2oaY7WfAAAAAElFTkSuQmCC);
	
	background-repeat: no-repeat;
	height: 46px;
	width: 1px;
}




/* styles for first, second and third level menus */
/* LEVEL ONE OF THREE */
ul#dropdown {
	list-style: none;
	
	position: relative;
	height: 46px !important;
	max-height: 46px !important; 
	line-height: 35px;
	
	display:table;
	margin: 0 auto;
	z-index: 9999;  /* 10000 */
}

ul#dropdown > li {
	float: left; 
	zoom: 1;
	height: 46px;
	
	/* text-shadow:0px 0px 10px #0A0A0A; */
	/* text-shadow:1px 1px 0px rgba(10, 10, 10, 0.4); */
	/* text-shadow:0px 0px 10px rgba(10, 10, 10, 0.9); */
}

ul#dropdown > li.hover, ul#dropdown > li:hover {
	/* whiteStrip */
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuAQAAAADBlE7HAAAADUlEQVQYlWNoYKAZBAAimBcBR8+9IgAAAABJRU5ErkJggg==);
	/* background: #CCCCCC; */ 
	color: #000000 !important;
	position: relative;
	
	/* text-shadow:1px 1px 0px rgba(10, 10, 10, 0.4); */
	/* text-shadow:0px 0px 1px rgba(10, 10, 10, 0.3); */
}

ul#dropdown > li:hover a { 
	color: #000000 !important;
}

ul#dropdown > li a { 
	display: block; 
	padding: 4px 13px;
	  
	color: #FFFFFF !important;
	outline: none; 
	font-size: 13px;
	font-weight: bold;
	font-family: Helvetica,Arial,San-Serif;
}

ul#dropdown > li > a:hover {
	/* whiteStrip */
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuAQAAAADBlE7HAAAADUlEQVQYlWNoYKAZBAAimBcBR8+9IgAAAABJRU5ErkJggg==);
	color: #000000 !important;
	visibility: visible;
	outline:none; 
}

ul#dropdown > li > a:focus {
	/* whiteStrip */
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuAQAAAADBlE7HAAAADUlEQVQYlWNoYKAZBAAimBcBR8+9IgAAAABJRU5ErkJggg==);
	color: #000;
	outline:none; 
	
	/* text-shadow:0px 0px 1px rgba(10, 10, 10, 0.3); */ /* #0A0A0A; */
	/* text-shadow:0px 0px 12px rgba(10, 10, 10, 0.4); */
}



/* LEVEL TWO OF THREE */
ul#dropdown ul a { 
	display: block; 
	padding: 4px 12px;  
	color: #FFFFFF !important; 
	outline:none; 
	font-size: 14px;
	font-face: Arial;
}

ul#dropdown ul { 
	list-style: none;	
}

ul#dropdown ul.hover, ul#dropdown ul:hover {
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	
	/* shadow under submenu */
	-moz-box-shadow: 3px 3px 3px #888;
	-webkit-box-shadow: 3px 3px 3px #888;
	box-shadow: 3px 3px 3px #888;
	/* For IE 8 - globally we are not supporting IE 6/7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	
	/* vertical grey gradient in submenu */  
	background: rgb(255,255,255); /* Old browsers */ 
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 7%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,rgba(255,255,255,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 7%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 7%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 7%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 7%,rgba(237,237,237,1) 100%); /* W3C */
	/* IE 9 may block 'active x' controls or display a message to that effect */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	
}

ul#dropdown ul { 
	width: 230px; 
	visibility: hidden; 
	position: absolute; 
	top: 100%; 
	left: 0; 
	
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	
	padding-bottom: 8px;
	
	/* shadow under submenu */
	-moz-box-shadow: 3px 3px 3px #888;
	-webkit-box-shadow: 3px 3px 3px #888;
	box-shadow: 3px 3px 3px #888;
	/* For IE 8 - globally we are not supporting IE 6/7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";

	/* vertical grey gradient in submenu */  
	background: rgb(255,255,255); /* Old browsers */ 
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 7%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,rgba(255,255,255,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 7%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 7%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 7%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 7%,rgba(237,237,237,1) 100%); /* W3C */
	/* IE 9 may block 'active x' controls or display a message to that effect */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	
}

ul#dropdown ul.subMenu li.hover, ul#dropdown ul.subMenu li:hover { 
	background: #E4E4E4 !important;
	font-weight: 700; 
	color: #000000 !important;
	position: relative; 
	border:none;
	
	text-shadow:none;
}

ul#dropdown ul.subMenu li 					{ 
	font-weight: normal; 
	/* background: #f6f6f6; */
	color: #000000 !important;
	float: none;
	height: 26px;
	line-height: 21px;
	
	text-shadow:none; 
}

ul#dropdown ul.subMenu li a:hover { 
	visibility: visible;
	background-image: none;

	font-weight: bold;
	text-shadow:none;	
}

ul#dropdown ul.subMenu li a { 
	color: #222;
	font-size: 14px;
	
	width: 100%; 
	display: block; 
	padding: 4px 12px;   
	border-right: none;  
	
	display: inline-block; /* IE 6 & 7 Needs Inline Block - left because of importance to layout */
	
	text-shadow:none;
	font-weight: normal;
}



/* LEVEL THREE OF THREE */
ul#dropdown ul ul { 
	left: 100%; 
	top: 0;
	
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 3px solid #E4E4E4;
}

ul#dropdown ul ul.hover, ul#dropdown ul ul:hover { 
	border-left: 3px solid #E4E4E4 !important;
}

ul#dropdown ul ul:focus { 
	border-left: 3px solid #E4E4E4 !important;
}

ul#dropdown ul ul li.hover, ul#dropdown ul ul li:hover { 
	background: #FFFFFF !important;
}

ul#dropdown ul ul li { 
	background: #FFFFFF !important;
}

ul#dropdown li:hover > ul 			{ visibility: visible; }
