/* quote band (big) social icons sprite */
.sprite_big_social_icon { 
	background-image: url(../images/banners/big_social_icons_sprite.png); background-color: transparent; background-repeat: no-repeat;
	overflow: hidden; text-indent: -9999em;  /* allow insertion of SEO tags in a element */ 
}
.blog_big { width: 29px; height: 29px; background-position: 0 0; }
.facebook_big { width: 29px; height: 29px; background-position: -30px 0; }
.twitter_big { width: 29px; height: 29px; background-position: -60px 0; }
.youtube_big { width: 29px; height: 29px; background-position: -90px 0; }
/* end quote band (big) social icons sprite */

/* quote band */
.quoteba_greybg {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAoCAIAAACw1AcgAAAAQElEQVR42l2OAQoAIAgDw6f3hR7QNw1oC0MmBYi3DZnWx7RGGjUwohgIjdBiEJnt8pB5evK193t/meK/N35a7gf2R3Q78n+LRAAAAABJRU5ErkJggg==);
	background-repeat: repeat-x;
	
    width: 1px;
    height: 40px;
}

.quoteba_bluebg {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA8CAIAAAAok0etAAAAWUlEQVR4Xk3M0Q2AQAgD0La56Eau5DjOq7mAeP2Qj+Y1BNBxXuLYlUghnVzGMktYz+PTQWTr1rfNKFH23/MRAGFsIimQFhJVsuQvS0hLd7bedmy/LR2Cynm/WO5KpWFKdigAAAAASUVORK5CYII=);
	background-repeat: repeat-x;
	background-color: #1E72A6;
	
    width: 1px;
    height: 60px;
}

.quotba_spacer {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAoCAIAAACw1AcgAAAAM0lEQVQYlWNsnDiXcaBww4Q5jHV9MxkrOyYzFjd2M2aV1TPGZxYyhsenMgZFxjF6+YcAAPZQQGcRwp9mAAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center top;
	
    width: 1px;
    height: 40px;
}

#quoteband {
	margin: 0 auto; 
	width: 960px; 
	height: 100%;
	
	border-left: 1px solid #929BA0;
	border-right: 1px solid #4B5157;
}

#quoteband > .tr > .td {	
	border-left: 1px solid #4B5157;
	border-right: 1px solid #929BA0;
}

#quoteband #socialbar {
	width: 300px;
	padding: 0 8px;
}

#quoteband #socialbar .table {
	margin: 0 auto;
}

#quoteband #socialbar .td {
	padding: 0 1px;
}

#quoteband #socialbar .td.soctxt {
	font-size: 11px;
	color: #FFFFFF;
	padding-right: 7px;
}

#quoteband #socialbar a {
	display: block;
}

#quoteform_cont {
	width: 222px;
	height: 26px; max-height: 26px;
	
	/* padding-left: 6px;
	padding-right: 6px; */
}

#quoteform_cont .table {
	margin: 0 auto;
}

#quoteform_cont .td {
	min-width: 8px;
}

#quoteform_cont input {
	outline: none;
	border: none;
}

#quoteform_cont input[type="submit"] {
	width: 98px;
	height: 24px;
	
	font-family: Helvetica,Arial,San-Serif;
	letter-spacing: -0.4pt;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	color: #FFFFFF;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	padding-bottom: 2px;
	background-position: left top;
}

#quoteform_cont input[type="submit"]:hover {
	background-position: left bottom;
	cursor: pointer;
}

#quoteform_cont input[type="text"] {
	width: 80px;
	height: 20px;
	
	padding-left: 4px;
	padding-right: 4px;
	
	font-size: 12px;
	background-color: #CECFCF;
	line-height: 20px;
}

#quotba_frm, #quotba_frm td {
	height: 24px;
}

#quotba_floater {
	position: absolute; 
	top: 0; 
	left: 0;
	 
	width: 100%; 
	height: 24px;
	 
	/* background-color:rgba(25,10,30,0.3); */
	font-size: 12px;
	color: #1E1E1E;
	line-height: 22px;
	text-indent: 4px;
}

#midquotes .td {
	width: 100%;
	padding: 7px 14px 0 14px;
	vertical-align: top;
}

#midquotes a {
	display: block;
	font-size: 11px;
	text-decoration: none;	
	padding: 0;
	margin: 0;
	height: 24px;
}

#midquotes span {
	padding: 0;
	margin: 0;
	height: 12px;
}

/* outer spans */
#midquotes span.top, #midquotes span.bot {
	display: block;
	width: 80px;
}

#midquotes span.bot {
	padding-top: 2px;
}

#midquotes span.mark {	
	color: #FFFFFF;
	float: left;
}

#midquotes span.top {
	color: #CFDAE1;
	text-align: left;
	line-height: 12px;
	position: relative;
}

/* quote change arrow */
#midquotes a.green span.arrow {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAAQUlEQVQYlWNgQAJzvpbXgzADNgCU4Afi91DMj03BfCD+D8Xz0SX1kSRh2B5ZwX4sCvbDJP2xSMJwPEjBfTwK7gMAJgBrq0cw1noAAAAASUVORK5CYII=);
}

#midquotes a.red span.arrow {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAARklEQVQYlWP4z8BwH4j/48D3GYBEPB4F8QwgAGTsxyK5nwEGgBx7LArsGZABUGA+kuR8BnQAFJQH4vdQLI+hAKqoHoSRxQCrH0SVzBJjqAAAAABJRU5ErkJggg==);
}

#midquotes span.arrow {
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: right bottom;
	
    width: 8px;
    height: 7px;
    
    position: absolute;
    right: 0;
    top: 3px;
}

/* quote change value */
#midquotes a.green span.change {
	color: #86DB79;
}

#midquotes a.red span.change {
	color: #FF4747;
}

#midquotes span.change {
    float: right;
}

#midquotes .td.quotba_spacer {
	width: 1px !important;
	max-width: 1px !important;
	padding: 0 1px 0 0 !important;
}

/*
.quotba_greenup div.grey_symbol {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAAQUlEQVQYlWNgQAJzvpbXgzADNgCU4Afi91DMj03BfCD+D8Xz0SX1kSRh2B5ZwX4sCvbDJP2xSMJwPEjBfTwK7gMAJgBrq0cw1noAAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: right center;
	
    width: 12px;
    height: 12px;
}

.quotba_reddown div.grey_symbol {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAARklEQVQYlWP4z8BwH4j/48D3GYBEPB4F8QwgAGTsxyK5nwEGgBx7LArsGZABUGA+kuR8BnQAFJQH4vdQLI+hAKqoHoSRxQCrH0SVzBJjqAAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: right center;
	
    width: 12px;
    height: 12px;
}

#midquotes .td {
	width: 100%;
	padding: 3px 14px;
}

#midquotes a {
	display: block;
	font-size: 11px;
	text-decoration: none;
}

#midquotes a:hover {
	text-decoration: none;
}

#midquotes .quotba_greenup, #midquotes .quotba_reddown {
	width: 80px;
}

#midquotes span.left, #midquotes span.right { 
	height: 11px;
}

#midquotes .quotba_greenup .right {
	float: right;
	color: #86DB79;
}

#midquotes .quotba_reddown .right {
	float: right;
	color: #FF4747;
}

#midquotes .grey_symbol {
	color: #CFDAE1;
	width: 100%; 
	height: 11px;
	margin-bottom: 2px;
}

#midquotes .left {
	float: left;
	color: #FFFFFF;
}
*/

/* end quote band */